In [1]:
# Contoh if conditional statements
age = 20

if age >= 17:
    print(f'Usia Anda mencukupi, kami segera akan mengirimkan email.')

Usia Anda mencukupi, kami segera akan mengirimkan email.

In [3]:
# Contoh else conditional statements
name = "nabil"
age = 20

if age >= 17:
    print(f'Usia {name} mencukupi, kami segera akan mengirimkan email.')
else:
    print(f'Usia {name} belum mencukupi')

Usia nabil mencukupi, kami segera akan mengirimkan email.

In [5]:
# Contoh elif conditional statements
score = 82

if 90 <= score <= 100:
   grade = 'A'
elif 80 <= score <= 89:
   grade = 'B'
elif 70 <= score <= 79:
   grade = 'C'
elif 60 <= score <= 69:
   grade = 'D'  
else:
   grade = 'E'

print(f'Kategori nilai Anda adalah {grade}')

Kategori nilai Anda adalah B

In [5]:
# Contoh if conditional statement
value = 3

if value < 5:
    print('Hello, world.')
    value = value + 1
else:
    print('Finish')

# output hanya sekali karena statement if, tidak looping.

Hello, world.

In [7]:
# Contoh while loop statement
value = 2

while value < 5:
    print('Hello, world.')
    value = value + 1
else:
    print('Finish')

# diulang terus sampai nilainya tidak memenuhi pernyataan awal, while < 5.

Hello, world.
Hello, world.
Hello, world.
Finish

In [11]:
# Contoh for loop statements
for i in range(3):
    print(f'Nabil Three Times: {i}')

# i = variabel (bebas apa aja). urutan untuk range (start, stop, step). kalau ga ditulis start, akan dimulai dari nol.

Nabil Three Times: 0
Nabil Three Times: 1
Nabil Three Times: 2

In [19]:
# Contoh penerapan break statement pada for loop
for i in range(5):
   if i >= 3:
       break
   print(f'Nomor {i}')

# berhenti saat kondisi i terpenuhi, yaitu urutan ke-3.

Nomor 0
Nomor 1
Nomor 2

In [1]:
# Contoh penerapan break statement pada while loop
while True:
   print('Tuliskan nama Anda: ')
   name = input('')
   if name.upper() == 'NABIL':
       print('Halo Nabil!')
       break
   
# akan terus looping karena kondisinya true, harus break agar berhenti. pada contoh ini, jika diiinput nama bukan nabil, bakal looping terus diminta input, akan berhenti saat input nama nabil.

Tuliskan nama Anda:
Tuliskan nama Anda:
Tuliskan nama Anda:
Tuliskan nama Anda:
Halo Nabil!

In [17]:
stars = ' '
for i in range(5):
    stars +='* '

print(stars)

 * * * * *

In [16]:
stars = ' '
size = 5
for i in range(size) :
    for j in range(size) :
        stars +='* '
    stars +='\n'

print(stars)

# i untuk baris, j untuk kolom.
# size untuk menampilkan kebwahnya ada 5 baris.

 * * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [72]:
# Q1.

angka = int(input('masukkan angka: '))

if angka % 2 == 0:
    print(f'angka {angka} termasuk bilangan GENAP')
else:
    print(f'angka {angka} termasuk bilangan GANJIL')

angka 0 termasuk bilangan GENAP

In [ ]:
#Q2.

In [65]:
#Q3 Bentuk 1.

print('\n\n2')
a = 6
for i in range(0, a):
    for j in range(0, a - 1):
        print('* ' , end='')
    a -= 1
    print('')

2
* * * * *
* * * *
* * *
* *
*